<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #output {
            white-space: pre-wrap;
        }
    </style>
</head>

<body>


    <textarea id="input"></textarea>
    <div id="output"></div>

    <script>
        const input = document.querySelector('#input');
        const output = document.querySelector('#output');

        input.addEventListener('input', () => {
            output.textContent = input.value;
        });
    </script>

</body>

</html>